.app-shell {
  &__container {
    height: 100vh;
    width: 100vw;
    display: flex;
  }

  &__sidebar {
    background-color: aqua;
    width: 250px;
    transition: width 0.2s ease;
  }

  &__sidebar--closed {
    background-color: blue;
    width:70px;
  }
}
